h1{
    text-align: center;
}

.navbar .bi{
    font-size: 25px;
    color: black;
    padding: 0 10px;
}

.navbar .bi:hover{
    color: blue;
}

.load{
    background: chartreuse;
    height: 300vh;
    text-align: center;
}

/* .home img{
    width: 10px;
} */
.footer{
    text-align: center;
}
.houze{
    height: 200px;
}
#pA{
    display: none;
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}
#pB{
    display: none;
}
#pAA{
    display: none;
}
#pBB{
    display: none;
}

