h1{
    text-align: center;
}
/*nav-bar section styling*/
.navbar .bi{
    font-size: 25px;
    color: black;
    padding: 0 10px;
}

.navbar .bi:hover{
    color: blue;
}
 /*about-us section styling*/
 #about-us-container {
    text-align:center;
    background-color: white;
}
#about-us-header {
    padding-top: 3rem;
}
#about-us-description {
    padding-bottom: 3rem;
    line-height: 3rem;
}

.load{
    background: chartreuse;
    height: 300vh;
    text-align: center;
}

/* .home img{
    width: 10px;
} */
 /*house section styling*/
.houze{
    height: 200px;
}
#pA{
    display: none;
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}
#pB{
    display: none;
}
#pAA{
    display: none;
}

#p1{
    display: none;
}
#pBB{
    display: none;
}

 /* section styling*/
.footer{
    text-align: center;
}

